#product-data
  .layout-bpx
    .left-box
      %dl.brown
        %dt
        %dd.clone 受付中
      %dl
        %dt 産地
        %dd
          %span.nomal 長野県下伊那郡豊丘村
      %dl
        %dt 募集締切
        %dd
          %span 10
          月
          %span 5
          日

    %dl.order-box
      %a.btn-green{:href => "/projects/#{@project.id}/orders"} お申込み
    - if @current_user
      - if Like.find_by(user_id: @current_user.id, project_id: @project.id)
        = link_to "/likes/#{@project.id}/destroy",{method: "post"}, class: "favorite-btn" do
          %span.fa.fa-heart#like-btn-unlike

        = @likes_count

      - else
        = link_to"/likes/#{@project.id}/create", {method: "post"}, class: "favorite-btn" do
          %span.fa.fa-heart#like-btn

        = @likes_count
